logs/
outputs/
outputs_eval/
models/
*.pyc
src_ckpt/
datasets/
outputs_test/
resnet_ckpts/
analysis_data
analysis_data_new
forward_outputs/
robustness/
*.html
arxiv_outputs/
arxiv_figures/
rebuttal_figures/
arxiv_outputs_cifar/
cifar10_dataset
*.pth.tar
zzz_arxiv_figures/